// Navigation Styles here
/*.banner {
    /*justify-content: left;
    align-items: left;
    padding: 0 0 20px 0;

    h1 {
        align-items: left;
    }
}*/

    .links a {
        text-decoration: none;
        color: black;
        font-size: 1.6rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding: 40px 0 40px 40px;

    .links {
        width: 55%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }      
}

